<style>
    .advertiser-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .ad-item {
        list-style: none;
        text-align: center;
        width: 300px;
        margin: 10px;
    }

    .ad-item img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
</style>

{% for advertiser, ads in grouped_ads.items %}
    <h2>{{ advertiser.name }}</h2>
    <div class="advertiser-container">
        {% for ad in ads %}
            <div class="ad-item">
                <form method="post" action="{% url 'ad_click' ad.id %}" id="adForm{{ ad.id }}">
                    {% csrf_token %}
                    <a href="{{ ad.link }}" onclick="document.getElementById('adForm{{ ad.id }}').submit(); return false;">
                        <img src="{{ ad.imgUrl }}" alt="{{ ad.title }} Image">
                    </a>
                    <br>
                    <strong>{{ ad.title }}</strong>
                </form>
            </div>
        {% endfor %}
    </div>
{% endfor %}
