<style>
    .advertiser-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .ad-item {
        list-style: none;
        text-align: center;
        width: 300px; /* Set a fixed width for each ad item */
        margin: 10px;
    }

    .ad-item img {
        width: 100%; /* Make the image fill the container */
        height: auto; /* Maintain aspect ratio */
    }
</style>

{% for advertiser, ads in grouped_ads.items %}
    <h2>{{ advertiser.name }}</h2>
    <div class="advertiser-container">
        {% for ad in ads %}
            <div class="ad-item">
                <a href="{{ ad.link }}">
                    <img src="{{ ad.imgUrl }}" alt="{{ ad.title }} Image">
                </a>
                <br>
                <strong>{{ ad.title }}</strong>
            </div>
        {% endfor %}
    </div>
{% endfor %}
